.ingredientes
{
    display: none;
    width: 100px;
    background-color: red;
}

.dropBtn
{
    background-color: gray;
    width: 100px;
}

.dropBtn:hover
{
    background-color: rgb(87, 87, 87);
}

.dropdown:hover .ingredientes
{
    display: inline-block;
}

.dropdown
{
    position: relative;
    width: 100px;
}