*
{
    margin: 0;
}

td
{
    border: 2px black solid;
}

td, tr, table, body, html
{
    height: 100%; 
}

.esq
{
    background-color: orangered;
}

.dir
{
    background-color: blueviolet;
}

table
{
    border-collapse: collapse;
    width: 100%;
}